
<%- include("partials/header"); -%>
<header class="main-header">
<div class="container">
    <div class="row">
        <div class="col s12 m7 offset-m3">
            <form action="/" class="searchBar" method="POST">
    
                <div class="input-field">
                    <input type="text" style="font-size: large;" id="city"  name="city" placeholder="Enter City">
                    <label for="city" class="active">City</label>
                </div>
                <button type="submit" class="btn center red lighten-2 white-text">Submit</button>
                
                </form>
            
            
        </div>
    </div>
</div>
</header>

    



<%- include("partials/footer"); -%>